<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <link rel="stylesheet" type="text/css" href="style.css">
      <title>Getting Started: Serving Web Content</title> 
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="header">
      <p th:if="${name}" th:text="'Hello, '+${name} + '! I hope you are interested in hiring me!'"></p>
      <p th:if="!${name}" class="greeting">This is My CV</p>
    </div>
    <div class="container">
      <div class="sectionHeader">
        <h1>Ivana Irene Thomas</h1>
        <h5>Jalan Kepa Duri Mas Blok N2/9, Kebon Jeruk, Jakarta Barat - 087886677213</h5>
      </div>
      <div class="sectionHeader">
        <h2>Experience</h2>
      </div>
      <div class="titleContainer">
        <div>
          <h4>Head of Web Development Special Interest Group</h4>
          <h5>RISTEK (Research and Technology) Faculty of Computer Science University of Indonesia</h5>
        </div>
        <h5>Feb 2018 - Present</h5>
      </div>
      <h5>- Lead a division of 10 aspiring web developers</h5>
      <h5>- Together with senior members construct curriculum for junior members' learning purposes</h5>
      <div class="titleContainer">
        <div>
          <h4>Front End Developer Intern</h4>
          <h5>PT. Qlue Performa Indonesia</h5>
        </div>
        <h5>Jun 2017 - Aug 2017</h5>
      </div>
      <h5>- Assist front end development of Qluster's admin dashboard</h5>
      <h5>- Assist front end development of Qluster's mobile app (iOS & Android)</h5>
      <h5>- Communicate with UI/UX Designer to create more balanced design and engineering process</h5>
      <div class="skillContainer">
        <div class="skill react">React.js</div>
        <div class="skill redux">Redux</div>
        <div class="skill reactNative">React Native</div>
        <div class="skill es6">ES6</div>
        <div class="skill css3">CSS3</div>
        <div class="skill git">git</div>
      </div>
      <div class="titleContainer">
        <div>
          <h4>Junior Web Developer</h4>
          <h5>RISTEK (Research and Technology) Faculty of Computer Science University of Indonesia</h5>
        </div>
        <h5>Feb 2017 - Dec 2017</h5>
      </div>
      <h5>- Learn about web development focusing on front end development</h5>
      <div class="skillContainer">
        <div class="skill react">React.js</div>
        <div class="skill es6">ES6</div>
        <div class="skill css3">CSS3</div>
      </div>
      <div class="titleContainer">
        <div>
          <h4>Junior Web Developer</h4>
          <h5>RISTEK (Research and Technology) Faculty of Computer Science University of Indonesia</h5>
        </div>
        <h5>Feb 2017 - Dec 2017</h5>
      </div>
      <h5>- Learn about web development focusing on front end development</h5>
      <div class="skillContainer">
        <div class="skill react">React.js</div>
        <div class="skill es6">ES6</div>
        <div class="skill css3">CSS3</div>
      </div>
      <div class="titleContainer">
        <div>
          <h4>Staff of IT Development Team</h4>
          <h5>CompFest 9</h5>
        </div>
        <h5>Jan 2017 - Oct 2017</h5>
      </div>
      <h5>- Develop coming soon website</h5>
      <h5>- Develop main website's user interface</h5>
      <h5>- Develop vendor and visitor's playground system user interface</h5>
      <div class="skillContainer">
        <div class="skill react">React.js</div>
        <div class="skill es6">ES6</div>
        <div class="skill css3">CSS3</div>
      </div>
      <div class="sectionHeader">
        <h1>Education</h1>
      </div>
      <div class="titleContainer">
        <div>
          <h4>Faculty of Computer Science University Indonesia</h4>
          <h5>Computer Science Major</h5>
        </div>
        <h5>2016 - Present</h5>
      </div>
      <div class="sectionHeader">
        <h1>Skills</h1>
      </div>
      <h4>Languages</h4>
      <div class="skillContainer">
        <div class="skill python">Python</div>
        <div class="skill java">Java</div>
        <div class="skill es6">ES6</div>
        <div class="skill css3">CSS3</div>
        <div class="skill html5">HTML5</div>
      </div>
      <h4>Tools</h4>
      <div class="skillContainer">
        <div class="skill photoshop">Photoshop</div>
        <div class="skill illustrator">Illustrator</div>
        <div class="skill experienceDesign">Experience Design</div>
        <div class="skill git">git</div>
      </div>
    </div>
  </body>
</html>
