body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter UI', sans-serif;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
}

.header {
  width: 100%;
  background: #4DCCD5;
  color: #FFFFFF;
}

.container {
  width: 50rem;
  margin: 1rem;
  padding: 1rem 3rem;
  box-shadow: 0 0 10px #ccc;
  background: #FFFFFF;
}

.sectionHeader {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 2px solid #333;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.skillContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.4rem 0;
}

.skill {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: #FFFFFF;
  border-radius: 0.2rem;
  margin: 0 0.2rem 0 0;
}

.react {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.redux {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.reactNative {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.es6 {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.css3 {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.git {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.html5 {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

.java {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.python {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.photoshop {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.experienceDesign {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.illustrator {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}